/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    height: 740px;
    width: 500px;
    background-color: aqua;
} */
.signUp {
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.signUp>h1 {
    text-align: center;
}
.signUp>div>h4 {
    height: 30px;
}
.signUp>div>input {
    height: 30px;
    width: 100%;
}
.signUp>div>div {
    display: flex;
    justify-content: space-between
}
.signUp>div>div>div{
    height: 30px;
    width: 70px;
    background-color: #6c757d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.signUp>div>div>input {
    height: 30px;
}
.signUp>div:nth-child(6){
    background-color: #6c757d;
    height: 50px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}
input {
    padding-left: 5px;
}