.chat {
    padding: 20px;
    padding-bottom: 15px;
    height: 70%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
}
.chat>div{
    display: flex;
    background-color: chocolate;
}
.chat>div>div {
    line-height: 50px;
    width: 100px;
    background-color: cadetblue;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
}
.chat>div>span {
    padding: 5px 20px;
    background-color: antiquewhite;
}
.etc {
    height: 30%;
    background-color: bisque;
}
.etc>div:nth-child(1) {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.etc>div:nth-child(1)>input {
    width: calc(100% - 160px);
    height: 40px;
    font-size: 20px;
}
.etc>div:nth-child(1)>button {
    width: 60px;
    height: 40px;
    font-weight: bold;
}
.etc>div:nth-child(2) {
    background-color: blueviolet;
    width: 100%;
    height: calc(100% - 80px);
    display: grid;
    grid-template: repeat(3,1fr) / repeat(4,1fr);
    padding: 15px;
}
.etc>div:nth-child(2)>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
}
